{
  "parser": "babel-eslint",
  "rules": {
    "comma-dangle": [2,"always-multiline"],
    "no-constant-condition": 2,
    "no-control-regex": 2,
    "no-dupe-args": 2,
    "no-dupe-keys": 2,
    "no-duplicate-case": 2,
    "no-empty-character-class": 2,
    "no-empty": 2,
    "no-ex-assign": 2,
    "no-extra-boolean-cast": 2,
    "no-extra-semi": 2,
    "no-func-assign": 2,
    "no-inner-declarations": [2,"both"],
    "no-invalid-regexp": 2,
    "no-irregular-whitespace": 2,
    "no-negated-in-lhs": 2,
    "no-obj-calls": 2,
    "no-regex-spaces": 2,
    "no-sparse-arrays": 2,
    "no-unreachable": 2,
    "use-isnan": 2,
    "valid-typeof": 2,
    "no-redeclare": 2,
    "vars-on-top": 2,
    "eol-last": 2,
    "indent": [2,2],
    "no-inline-comments": 2,
    "no-mixed-spaces-and-tabs": [2,"smart-tabs"],
    "arrow-spacing": [2,{"before":true,"after":true}],
    "no-const-assign": 2,
    "no-var": 2,
    "object-shorthand": [2,"methods"],
    "prefer-const": 2,
    "prefer-spread": 2
  }
}
